/* style.css */

:root {
  --primary-color: #dee657;
  --secondary-color: #9e9e9e;
  --background-color: #121212;
  --text-color: #e0e0e0;
  --border-color: #424242;
  --accent-color: #8bc34a;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body is at least viewport height */
}

main {
  padding: 20px;
  flex-grow: 1; /* Allow main to take up available space */
}

section {
  background-color: #212121;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border-color);
}

section h2 {
  color: var(--secondary-color);
  margin-top: 0;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-weight: 600;
}

section p {
  margin-bottom: 15px;
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}

footer {
  text-align: center;
  padding: 5px 0;
  color: var(--secondary-color);
  border-top: 1px solid var(--border-color);
  background-color: #1e1e1e;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
}

footer h1 {
  color: var(--primary-color);
  margin: 0;
  font-size: 1.8em; /* Reduced font size */
  font-weight: 700;
}

/* You can add more specific styles for elements within your sections here */

#tools h1 {
  text-align: center;
  margin-bottom: 15px;
  color: var(--primary-color);
}

#input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#grocery-item {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Buttons */

#add-button {
  padding: 10px 15px;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#add-button:hover {
  background-color: #4cae4c;
}

#clear-all-button {
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#clear-all-button:hover {
  background-color: #c9302c;
}

/* Grocery list */

#grocery-list {
  list-style-type: none;
  padding: 0;
}

#grocery-list li {
  padding: 10px;
  border-bottom: 1px solid var(--secondary-color);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#grocery-list li:last-child {
  border-bottom: none;
}

.remove-button {
  background: none;
  color: red;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0 5px;
  margin-left: 10px; /* Add some space between text and button */
}

.remove-button:hover {
  color: darkred;
}
